# Виртуальное окружение
.venv/
venv/

# PyCharm
.idea/

# Кэш питона
__pycache__/
*.py[cod]
*$py.class

# Логи и временные файлы
*.log
*.tmp
*.bak

# macOS / Windows / Linux системные
.DS_Store
Thumbs.db

# pipenv / poetry
Pipfile.lock
poetry.lock

# VSCode (на всякий случай)
.vscode/

# Python compiled shared objects
*.so

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Тестовые базы и дампы
*.sqlite3
*.db
*.dump

# requirements (если генеришь временно)
requirements-dev.txt

echo .coverage